---
name: Lint

on:
  - push

jobs:
  lint:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/preparation
      - name: Check with pylint
        run: uv run pylint tasktronaut
      - name: Check with mypy
        run: uv run mypy tasktronaut
